 
    header{
      text-align: center;
      font-size: 60px;
      background-image: url(legal\ addict.jpg) ;
      background-position: left top;
      background-size: 110px;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    
    p.a{
      font-size: 20px;
      text-align: center;
    }
    body{
      background-color: #cfeeee;
    }
    P.b{
      padding-left: 200px;
    }
  #A{
    padding: 10px 20px;
    border: 2px solid gray;
    background-color: #b3f0e6;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    gap: 20px;
    margin-left: 190px;
    margin-top:20px;
  }
  @media only screen and (max-width :455px){
    header{
      text-align: center;
      font-size: 30px;
      background-image: url(legal\ addict.jpg) ;
      background-position: left TOP;
      background-size: 50px;
      background-repeat: no-repeat;
      background-attachment:scroll;
    }
    body{
      background-color: #cfeeee;
    }
    p.b{
      font-size: 10px;
      padding-left: 55px;
    }
  #A{
    padding: 2px 4px;
    border: 0.5px solid gray;
    background-color: #b3f0e6;
    cursor: pointer;
    font-size: 6px;
    display: inline-block;
    gap: 3px;
    margin-left: 60px;
    margin-top:10px;
  }
  
  }
 