body {
            font-family: Arial, sans-serif;
            background: #cfeeee; 
        }

        .page {       /* A4 height */
            margin: 20px auto;
             padding: 20px;
          
        }
        .watermark{
        position:fixed;
        top:40%;
        left:30%;
        font-size:40px;
        opacity:0.15;
        transform:rotate(-25deg);
        pointer-events:none;
        z-index:9999;
        }
        @media print {
        body {
         display: none !important;
       }
      }

        h1 {
            text-align: center;
            font-size: 40px;
            margin-bottom: 10px;
            font-weight: bold;}

        h2 {
            text-align: center;
            font-size: 35px;
            margin-bottom: 25px;
        }

        .content {
            font-size: 20px;
            line-height: 1.6;
        }

        .content b {
            font-size: 20px;
        }

        .example {
            margin-left: 10px;
            font-style: italic;
        }
        @media only screen and (max-width :455px){
           body {
            font-family: Arial, sans-serif;
            background: #cfeeee; 
        }
        h1 {
            text-align: center;
            font-size: 15px;
            margin-bottom: 3px;
            font-weight: bold;
          }
        h2 {
            text-align: center;
            font-size: 12px;
            margin-bottom: 5px;
        }

        .content {
            font-size: 9px;
            line-height: 1.3;
        }

        .content b {
            font-size: 9px;
        }

        .example {
            margin-left: 1px;
            font-style: italic;
        }
         
        }
        